//== Typograhpy
//
//##

h1, h2, h3, h4, h5 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h1 {
  font-size: $heading-1-font-size;

  &:first-child {
    margin-top: 0;
  }
}

h2 {
  font-size: $heading-2-font-size;
}

h3 {
  font-size: $heading-3-font-size;
}

h4 {
  font-size: $heading-4-font-size;
}

h5 {
  font-size: $heading-5-font-size;
}

p {
  font-size: $paragraph-font-size;

  &.#{$prefix}-lead {
    font-size: $lead-paragraph-font-size;
    font-weight: $lead-paragraph-font-weight;
  }
}

strong {
  font-weight: $bold-font-weight;
}
