//== Floating
//
//##

.#{$prefix}-clearfix {
  @include clearfix;
}
.#{$prefix}-center {
  @include center;
}
.#{$prefix}-right {
  float: right !important;
}
.#{$prefix}-left {
  float: left !important;
}

.#{$prefix}-text-left {
  text-align: left;
}

.#{$prefix}-text-center {
  text-align: center;
}

.#{$prefix}-text-right {
  text-align: right;
}
