//== Colours
//
//## These are the defaults in case no theme colour supplied

$primary: #999 !default;

$body-text-color: #333 !default;
$body-bg-color: #fff !default;

$text-color-on-primary: #fff !default;



//== Typography
//
//##

//** Font Family
$base-font-family: 'Open Sans', sans-serif !default;

//** Core Font Sizes
$base-font-size: 62.5% !default;
$heading-1-font-size: 4em !default;
$heading-2-font-size: 3em !default;
$heading-3-font-size: 2.5em !default;
$heading-4-font-size: 2em !default;
$heading-5-font-size: 1.6em !default;
$heading-5-font-size: 1.4em !default;
$paragraph-font-size: 1.6em !default;
$lead-paragraph-font-size: 1.8em !default;

//** Line Heights
$golden-ratio: 1.618 !default;
$base-line-height: $golden-ratio;

//** Core Font Weights
$base-font-weight: 400 !default;
$bold-font-weight: 700 !default;
$heading-font-weight: 700 !default;
$lead-paragraph-font-weight: 400 !default;


//== Media Queries
//
//##

$viewport-sm-min: 768px !default;
$viewport-md-min: 992px !default;
$viewport-lg-min: 1200px !default;

// So media queries don't overlap when required, provide a maximum
$viewport-sm-max: ($viewport-md-min - 1) !default;
$viewport-md-max: ($viewport-lg-min - 1) !default;



//== Grid Layout
//
//##

$columns: 12 !default;
$gutter-size: 30px !default;

$container-sm: (720px + $gutter-size) !default;
$container-md: (940px + $gutter-size) !default;
$container-lg: (1140px + $gutter-size) !default;



//== Components
//
//##

//** Hero
$hero-background-color: $primary !default;
$hero-background-color-darker: darken($hero-background-color, 5) !default;
$hero-accent-color: rgba(255, 255, 255, 0.15) !default;
$hero-min-height: 500px !default;
$hero-font-size: 1.4rem !default;
$hero-padding-top: 9em !default;

//** Menu
$menu-font-size: 1.6rem !default;
$menu-font-weight: 400 !default;
$menu-text-color: $body-text-color !default;
$menu-active-color: $primary !default;

//** App Bar
$app-bar-background-color: $primary !default;
$app-bar-title-color: $text-color-on-primary !default;
$app-bar-nav-active-color: $text-color-on-primary !default;
$app-bar-nav-color: rgba($app-bar-nav-active-color, 0.5) !default;
$app-bar-font-size: 1.6rem !default;
