//== Colours
//
//## These are the defaults in case no theme colour supplied

$primary: #999 !default;

$body-text-color: #333 !default;
$body-bg-color: #fff !default;


//== Typography
//
//##

$base-font-family: 'Open Sans', sans-serif !default;
$base-font-size: 16px !default;

$heading-font-weight: 400 !default;

//** Font Sizing
$heading-1-font-size: 5rem !default;
$heading-2-font-size: 4rem !default;
$heading-3-font-size: 3rem !default;
$heading-4-font-size: 2rem !default;
$heading-5-font-size: 1.6rem !default;
$paragraph-font-size: 1rem !default;

//** Line Heights
$golden-ratio: 1.618 !default;
$base-line-height: $golden-ratio;
$heading-1-line-height: $heading-1-font-size * $golden-ratio;
$heading-2-line-height: $heading-2-font-size * $golden-ratio;
$heading-3-line-height: $heading-3-font-size * $golden-ratio;
$heading-4-line-height: $heading-4-font-size * $golden-ratio;
$heading-5-line-height: $heading-5-font-size * $golden-ratio;
$paragraph-line-height: $paragraph-font-size * $golden-ratio;


//== Media Queries
//
//##

$viewport-sm-min:              768px !default;
$viewport-md-min:              992px !default;
$viewport-lg-min:              1200px !default;

// So media queries don't overlap when required, provide a maximum
$viewport-sm-max:              ($viewport-md-min - 1) !default;
$viewport-md-max:              ($viewport-lg-min - 1) !default;


//== Grid Layout
//
//##

$columns:                   12 !default;
$gutter-size:               30px !default;

$container-sm:              (720px + $gutter-size) !default;
$container-md:              (940px + $gutter-size) !default;
$container-lg:              (1140px + $gutter-size) !default;
