//== Header Bar
//
//##

.#{$prefix}-app-bar {
  background-color: $primary;
  color: $text-color-on-primary;
  margin: 0 0 2rem;

  a {
    color: $text-color-on-primary;
    text-decoration: none;
  }
}
