//== Header Bar
//
//##

.#{$prefix}-app-bar {
  background-color: $app-bar-background-color;
  font-size: $app-bar-font-size;
  padding: 1em 0;
  margin: 0 0 2rem;
  a {
    text-decoration: none;
  }

  &.fixed {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.transparent {
    background: none;
  }
}

.#{$prefix}-app-bar-title {
  color: $app-bar-title-color;
}

.#{$prefix}-app-bar-nav {
  a {
    display: inline-block;
    color: $app-bar-nav-color;
    &:not(:last-child) {
      margin-right: 1.6em;
    }
    &.active {
      color: $app-bar-nav-active-color;
      font-weight: 500;
    }
    &:hover {
      color: $app-bar-nav-active-color;
    }
  }
}
